.header-index
  .header-index
    みんなの口コミ
.content-index 
  .content-list
    - @posts.each do |post|
      .content__top
        タイトル
        %br
        = post.title
      .content__title
        コメント
        %br
        = post.content
      .content__bottom
        投稿者
        = post.user.nickname
        %br
        = post.created_at
.footer-index
